.btn_page1{
    width: 100px;
    height: 60px;
    position: fixed;
    background-color: white;
    border-color: blue blue blue blue;
    left: 400px;
    top: 174px;
}

.btn_page2{
    width: 100px;
    height: 60px;
    position: fixed;
    background-color: white;
    border-color: blue blue blue blue;
    left: 800px;
    top: 174px;
}

.btn_page1_change{
    width: 100px;
    height: 60px;
    position: fixed;
    background-color: blue;
    color: white;
    border-color: blue blue blue blue;
    left: 400px;
    top: 174px;
}

.btn_page2_change{
    width: 100px;
    height: 60px;
    position: fixed;
    background-color: blue;
    color: white;
    border-color: blue blue blue blue;
    left: 800px;
    top: 174px;
}

.div1{
    position: fixed;
    left: 800px;
    top: 300px;
}
.div2{
    position: fixed;
    left: 400px;
    top: 300px;
}
.div3{
    position: fixed;
    left:100px;
    top: 230px;
}
.inp{
    width: 200px;
}
.inp3{
    position: relative; left: -45px; top: 400px;
}
.p1{
    width: 300px;
}
.not_display{
  position: fixed;
  opacity: 0;
  top: 10px;
  left: 600px;
  width: 100px;
  height: 60px;
}
.choose_file{
    position: fixed;
    top: 10px;
    left: 600px;
    width: 100px;
    height: 60px;
}
.open
{
    position: fixed;
    top: 500px;
    left: 800px;
}
.close
{
    position: fixed;
    top: 500px;
    left: 400px;
}